[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{md,mkdn}]
trim_trailing_whitespace = false
indent_style = space

[*.{json,js,jsx,ts,tsx,mjs,cjs,css,scss}]
indent_style = tab
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true

[*.{yml,yaml}]
trim_trailing_whitespace = false
