# Claude Code local settings
.claude/settings.local.json
.claude/plans
.claude/worktrees
.superpowers/
docs/superpowers
docs/plans
docs/specs

# Temp Folders
temp/

# Git worktrees
.worktrees/

coverage/

**/node_modules/**
**/dist/**
**/build/**
**/release/**
**/releases/**

*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules

yarn.lock
pnpm-lock.yaml
